[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.8"

[packages]
flask-restx = "*"
Flask-SQLAlchemy = "*"
flask-jwt-extended = "*"
flask-cors = "*"
Flask-Migrate = "*"
Flask-Mail = "*"
pyOpenSSL = "*"
requests = "*"
itsdangerous = "*"
psycopg2-binary = "*"
Authlib = "*"

[scripts]
flask = "flask run --cert=adhoc --host=0.0.0.0"
initdb = "flask db init"
